### Data exploration
head, info, size, describe,tail,count,value_counts, shape, ndim,columns

In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("sales_returns.csv")
df

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,cust_age,cust_gender,segment,country,...,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit,returned
0,CA-2015-143336,27/08/15,01/09/15,Second Class,ZD-21925,Zuschuss Donatelli,19,Female,Consumer,United States,...,West,OFF-AR-10003056,Office Supplies,Art,Newell 341,8.560,2,0.0,2.4824,True
1,CA-2015-143336,27/08/15,01/09/15,Second Class,ZD-21925,Zuschuss Donatelli,19,Female,Consumer,United States,...,West,TEC-PH-10001949,Technology,Phones,Cisco SPA 501G IP Phone,213.480,3,0.2,16.0110,True
2,CA-2015-143336,27/08/15,01/09/15,Second Class,ZD-21925,Zuschuss Donatelli,19,Female,Consumer,United States,...,West,OFF-BI-10002215,Office Supplies,Binders,"Wilson Jones Hanging View Binder, White, 1""",22.720,4,0.2,7.3840,True
3,CA-2017-111682,17/06/17,18/06/17,First Class,TB-21055,Ted Butterfield,20,Female,Consumer,United States,...,East,OFF-ST-10000604,Office Supplies,Storage,Home/Office Personal File Carts,208.560,6,0.0,52.1400,True
4,CA-2017-111682,17/06/17,18/06/17,First Class,TB-21055,Ted Butterfield,20,Female,Consumer,United States,...,East,OFF-PA-10001569,Office Supplies,Paper,Xerox 232,32.400,5,0.0,15.5520,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1297,US-2015-143287,11/11/15,17/11/15,Standard Class,KN-16705,Kristina Nunn,19,Female,Home Office,United States,...,East,OFF-PA-10004039,Office Supplies,Paper,Xerox 1882,223.920,4,0.0,109.7208,True
1298,US-2015-143287,11/11/15,17/11/15,Standard Class,KN-16705,Kristina Nunn,24,Male,Home Office,United States,...,East,OFF-SU-10001574,Office Supplies,Supplies,Acme Value Line Scissors,7.300,2,0.0,2.1900,True
1299,CA-2018-121258,26/02/18,03/03/18,Standard Class,DB-13060,Dave Brooks,21,Female,Consumer,United States,...,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332,True
1300,CA-2018-121258,26/02/18,03/03/18,Standard Class,DB-13060,Dave Brooks,23,Female,Consumer,United States,...,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932,True
1301,CA-2018-121258,26/02/18,03/03/18,Standard Class,DB-13060,Dave Brooks,21,Female,Consumer,United States,...,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200,True

In [3]:
#here it is showing all data

In [4]:
df.head()

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,cust_age,cust_gender,segment,country,...,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit,returned
0,CA-2015-143336,27/08/15,01/09/15,Second Class,ZD-21925,Zuschuss Donatelli,19,Female,Consumer,United States,...,West,OFF-AR-10003056,Office Supplies,Art,Newell 341,8.56,2,0.0,2.4824,True
1,CA-2015-143336,27/08/15,01/09/15,Second Class,ZD-21925,Zuschuss Donatelli,19,Female,Consumer,United States,...,West,TEC-PH-10001949,Technology,Phones,Cisco SPA 501G IP Phone,213.48,3,0.2,16.0110,True
2,CA-2015-143336,27/08/15,01/09/15,Second Class,ZD-21925,Zuschuss Donatelli,19,Female,Consumer,United States,...,West,OFF-BI-10002215,Office Supplies,Binders,"Wilson Jones Hanging View Binder, White, 1""",22.72,4,0.2,7.3840,True
3,CA-2017-111682,17/06/17,18/06/17,First Class,TB-21055,Ted Butterfield,20,Female,Consumer,United States,...,East,OFF-ST-10000604,Office Supplies,Storage,Home/Office Personal File Carts,208.56,6,0.0,52.1400,True
4,CA-2017-111682,17/06/17,18/06/17,First Class,TB-21055,Ted Butterfield,20,Female,Consumer,United States,...,East,OFF-PA-10001569,Office Supplies,Paper,Xerox 232,32.40,5,0.0,15.5520,True

In [5]:
#df.head() shows only 5 rows on top

In [6]:
df.tail()

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,cust_age,cust_gender,segment,country,...,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit,returned
1297,US-2015-143287,11/11/15,17/11/15,Standard Class,KN-16705,Kristina Nunn,19,Female,Home Office,United States,...,East,OFF-PA-10004039,Office Supplies,Paper,Xerox 1882,223.920,4,0.0,109.7208,True
1298,US-2015-143287,11/11/15,17/11/15,Standard Class,KN-16705,Kristina Nunn,24,Male,Home Office,United States,...,East,OFF-SU-10001574,Office Supplies,Supplies,Acme Value Line Scissors,7.300,2,0.0,2.1900,True
1299,CA-2018-121258,26/02/18,03/03/18,Standard Class,DB-13060,Dave Brooks,21,Female,Consumer,United States,...,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332,True
1300,CA-2018-121258,26/02/18,03/03/18,Standard Class,DB-13060,Dave Brooks,23,Female,Consumer,United States,...,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932,True
1301,CA-2018-121258,26/02/18,03/03/18,Standard Class,DB-13060,Dave Brooks,21,Female,Consumer,United States,...,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200,True

In [7]:
#df.tail() shows only 5 rows on bottom

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1302 entries, 0 to 1301
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1302 non-null   object
 1   order_date     1302 non-null   object
 2   ship_date      1302 non-null   object
 3   ship_mode      1302 non-null   object
 4   customer_id    1302 non-null   object
 5   customer_name  1302 non-null   object
 6   cust_age       1302 non-null   int64
 7   cust_gender    1302 non-null   object
 8   segment        1302 non-null   object
 9   country        1302 non-null   object
 10  city           1302 non-null   object
 11  state          1302 non-null   object
 12  postal_code    1302 non-null   int64
 13  region         1302 non-null   object
 14  product_id     1302 non-null   object
 15  category       1302 non-null   object
 16  sub_category   1302 non-null   object
 17  product_name   1302 non-null   object
 18  sales          1302 non-null   float64
 19  quantity       1302 non-null   int64
 20  discount       1302 non-null   float64
 21  profit         1302 non-null   float64
 22  returned       1302 non-null   bool
dtypes: bool(1), float64(3), int64(3), object(16)
memory usage: 225.2+ KB

In [9]:
df.shape
#it determines rows and columns i.e 1302 rows and 23 columns.

(1302, 23)

In [10]:
df.columns
# it provides detail of all the columns of a dataset.

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id',
       'customer_name', 'cust_age', 'cust_gender', 'segment', 'country',
       'city', 'state', 'postal_code', 'region', 'product_id', 'category',
       'sub_category', 'product_name', 'sales', 'quantity', 'discount',
       'profit', 'returned'],
      dtype='object')

In [7]:
df['cust_gender'].unique()

array(['Female', 'Male'], dtype=object)

In [8]:
df['category'].unique()

array(['Office Supplies', 'Technology', 'Furniture'], dtype=object)

In [13]:
df[['cust_gender','segment','category']].unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [11]:
df.size
#it determine total no of elements in a datasets.

29946

In [12]:
df.ndim

2

In [13]:
df['order_id'].ndim

1

In [16]:
df.value_counts()

order_id        order_date  ship_date  ship_mode       customer_id  customer_name   cust_age  cust_gender  segment    country        city           state           postal_code  region   product_id       category         sub_category  product_name                                              sales     quantity  discount  profit     returned
CA-2015-100762  24/11/15    29/11/15   Standard Class  NG-18355     Nat Gilpin      18        Female       Corporate  United States  Jackson        Michigan        49201        Central  OFF-AR-10000380  Office Supplies  Art           Hunt PowerHouse Electric Pencil Sharpener, Blue           151.920   4         0.0        45.5760   True        1
CA-2018-128965  17/04/18    22/04/18   Standard Class  PS-18760     Pamela Stobb    24        Female       Consumer   United States  Los Angeles    California      90008        West     OFF-FA-10001561  Office Supplies  Fasteners     Stockwell Push Pins                                       10.900    5         0.0        3.5970    True        1
CA-2018-131492  19/10/18    24/10/18   Second Class    HH-15010     Hilary Holden   24        Female       Corporate  United States  San Francisco  California      94110        West     OFF-LA-10001641  Office Supplies  Labels        Avery 518                                                 31.500    10        0.0        15.1200   True        1
                                                                                    20        Female       Corporate  United States  San Francisco  California      94110        West     FUR-TA-10003837  Furniture        Tables        Anderson Hickey Conga Table Tops & Accessories            24.368    2         0.2       -3.3506    True        1
                                                                                    19        Female       Corporate  United States  San Francisco  California      94110        West     OFF-EN-10002973  Office Supplies  Envelopes     Ampad #10 Peel & Seel Holiday Envelopes                   8.960     2         0.0        4.3008    True        1
                                                                                                                                                                                                                                                                                                                                                        ..
CA-2016-168480  21/09/16    27/09/16   Standard Class  DM-12955     Dario Medina    18        Female       Corporate  United States  Lincoln Park   Michigan        48146        Central  FUR-BO-10000468  Furniture        Bookcases     O'Sullivan 2-Shelf Heavy-Duty Bookcases                   194.320   4         0.0        31.0912   True        1
CA-2016-168004  04/10/16    09/10/16   Second Class    DJ-13420     Denny Joy       51        Female       Corporate  United States  Warner Robins  Georgia         31088        South    FUR-CH-10001482  Furniture        Chairs        Office Star - Mesh Screen back chair with Vinyl seat      392.940   3         0.0        43.2234   False       1
CA-2016-164882  31/10/16    31/10/16   Same Day        SG-20080     Sandra Glassco  23        Female       Consumer   United States  Redlands       California      92374        West     TEC-PH-10001578  Technology       Phones        Polycom SoundStation2 EX Conference phone                 1295.840  4         0.2        145.7820  True        1
                                                                                                                                                                                          OFF-FA-10000585  Office Supplies  Fasteners     OIC Bulk Pack Metal Binder Clips                          17.450    5         0.0        8.0270    True        1
US-2018-168116  04/11/18    04/11/18   Same Day        GT-14635     Grant Thornton  51        Female       Corporate  United States  Burlington     North Carolina  27217        South    OFF-AP-10002457  Office Supplies  Appliances    Eureka The Boss Plus 12-Amp Hard Box Upright Vacuum, Red  167.440   2         0.2        14.6510   False       1
Length: 1302, dtype: int64

In [17]:
df.describe()
#it describes numeric values of all

,cust_age,postal_code,sales,quantity,discount,profit
count,1302.000000,1302.000000,1302.000000,1302.000000,1302.000000,1302.000000
mean,30.217358,63134.132873,224.062279,3.791859,0.143172,26.911767
std,13.065832,32675.934220,599.202039,2.241149,0.197780,278.563765
min,18.000000,1841.000000,1.680000,1.000000,0.000000,-3839.990400
25%,21.000000,32796.750000,19.920000,2.000000,0.000000,2.728425
50%,24.000000,78207.000000,58.081000,3.000000,0.000000,10.332000
75%,38.000000,92374.000000,209.880000,5.000000,0.200000,30.469450
max,63.000000,99207.000000,13999.960000,14.000000,0.800000,6719.980800

In [6]:
df.nunique()
#it determines the unique values if 1,2,3 is categorical data.

order_id          550
order_date        426
ship_date         441
ship_mode           4
customer_id       395
customer_name     395
cust_age           46
cust_gender         2
segment             3
country             1
city              185
state              40
postal_code       235
region              4
product_id        926
category            3
sub_category       17
product_name      920
sales            1134
quantity           14
discount           12
profit           1198
returned            2
dtype: int64